###### Requirements without Version Specifiers ######
gapminder
japanize-matplotlib
jupyter-book
# git+https://github.com/executablebooks/jupyter-book@master#egg=jupyter-book
linearsolve
matplotlib
# numba
numpy
pandas
py4macro
scipy
see
sphinx-sitemap
statsmodels
wooldridge

###### Requirements with Version Specifiers ######
