###### Requirements without Version Specifiers ######
gapminder
japanize-matplotlib
jupyter-book
# git+https://github.com/executablebooks/jupyter-book@master#egg=jupyter-book
linearsolve
matplotlib
# numba
numpy < 2.0
openpyxl
pandas
pyarrow
py4macro
scipy
see
sphinx-sitemap
statsmodels
wooldridge

###### Requirements with Version Specifiers ######
