###### Requirements without Version Specifiers ######
gapminder
japanize-matplotlib
jupyter-book
matplotlib
# numba
numpy
pandas
py4macro
scipy
see
statsmodels
wooldridge

###### Requirements with Version Specifiers ######
# sphinxcontrib-bibtex==1.0.0
# sphinx == 3.4.3
# sphinxcontrib-serializinghtml == 1.1.4
# sphinx-book-theme == 0.1.0
pydata-sphinx-theme < 0.6.0
