/* == Override the default ================================================== */
/* == Elements not set in div... below remain as they are =================== */

/* -- admonitions ----------------------------------------------------------- */


div.code-explanation {
    border-color: #00C7B6;
    background-color: none;
}


div.code-explanation .admonition-title {
    background-color: transparent;
    text-decoration: none;
}


div.code-explanation .admonition-title:before {
    /*content: none;*/
    content: "\1F40D";
    font-size: 0.85em;
}


div.extra-credit {
    border-left-color: rgba(var(--pst-color-success), 1);
}
div.extra-credit .admonition-title {
    background-color: rgba(var(--pst-color-success), .1)
}
div.extra-credit .admonition-title:before {
    color: rgba(var(--pst-color-success), 1);
    content: '\f19d';
}
